
*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#divprincipal {
	border-radius: 17px 17px 0px 0px; 
-moz-border-radius: 17px 17px 0px 0px; 
-webkit-border-radius: 17px 17px 0px 0px; 
border: 0px solid #800000;
width: 12%;
    height:23%;
	background-color: #4682B4;
	position:absolute; 
	top:3%; 
	left:0%;
}

#divsegundo {
	
width: 12%;
    height:23%;
	background-color: #4682B4;
	position:absolute; 
	top:26%; 
	left:0%;
}
#divtercero {
	
width: 12%;
    height:23%;
	background-color: #4682B4;
	position:absolute; 
	top:49%; 
	left:0%;
}

#divcuarto {
	border-radius: 0px 0px 17px 17px; 
-moz-border-radius: 0px 0px 17px 17px; 
-webkit-border-radius: 0px 0px 17px 17px; 
border: 0px solid #800000;
width: 12%;
    height:23%;
	background-color: #4682B4;
	position:absolute; 
	top:72%; 
	left:0%;
}

.divsmenu {
	width: 20%;
    height:20%;
	color: #548DFF;
}
#div_de_carga {
	background-color: rgba(255, 255, 255, 0.94);
border-radius: 16px; 
-moz-border-radius: 16px; 
-webkit-border-radius: 16px; 
border: 0px solid #800000;
position:absolute; 
	top: 3%; 
	left:12%;
	width: 85%;
    height:92%;
}
.h4{
	color: white;
	position:absolute; 
	top:0%; 
	left:28%;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
